html, body, h1, h2, h3, h4, h5{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    /* //overflow: hidden; */
}
html {
    font-size: 10px;
}
h1 {
    font-size: 2.4rem;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.register-input__label{
    font-size: 1.6rem;
}
.register-wrappper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.register-wrappper h1{
    margin-bottom: 2rem;
}
.register-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    width: 20rem;
}
.register-input input{
    padding: 0.2rem;
    width: 100%;
}
.create-character-button{
    box-sizing: border-box;
    align-self: center;
    padding: 0.5rem;
    width: 13rem;
}
p {
    font-size: 1rem;
}
.register{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.register h1, .register h3{
    font-weight: 400;
}
.header{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2rem;
    border-bottom: 2px solid #000;
    align-items: center;
    height: 6rem;
}
.header-nav{
    width: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav:hover{
    cursor: pointer;
}
.page-name{
    font-size: 1.5rem;
}
#content{
    flex: 1;
    height: 100%;
    width: 100%;
}
.fight-page{
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fight-button{
    font-size: 1.6rem;
    padding: 1rem;
    width: 8rem;
}
.settings-wrapper{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.6rem;
    padding: 2rem;
}
.battle{
    height: 100%;
}
.battle-wrapper{
    font-size: 1.6rem;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 100%;
    flex: 1;
    flex-direction: column;
}
.battle-controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex: 3;
    padding: 2rem;
    border-bottom: 2px solid #000;
    box-sizing: border-box;
}
.avatar-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.avatar-img{
    height: 300px;
    width: auto;   
    display: block;
}
.player-health-progress, .rival-health-progress{
    width: 100%;
    height: 3rem;
}
.player-img{
    height: 35rem;
}
.battle-info{
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    box-sizing: border-box;
    gap: 1rem;
    flex: 1;
    overflow: auto;  
    transition: transform 0.3s; 
}
.attack-controls-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.attack-controls{
    display: flex;
    flex-direction: row;
}
.attack-text{
    margin-bottom: 2rem;
}
.attack-zones{
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    gap:  0.6rem;
}
.dafence-zones{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap:  0.6rem;
}
.radio-container input{
    margin: 0;
}
.attack-controls-hr{
    background-color: #000;
    width: 0.1rem;
    margin: 0 1rem;
}
.radio-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.attack-button{
    margin-top: 2rem;
    font-size: 1.5rem;
    padding: 0.7rem;
    width: 8rem;
}

/* Вкладка аккаунт */
.accountName{
    font-weight: 300;
    font-size: 2rem;
    height: auto;
    margin-bottom: 2rem;
}
#accountAvatar{
    height: 30rem;
}
.account-info{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
}
.account-changes{
    height: auto;
}
.wins-loses{
    margin-top: 1rem;
    font-size: 1.5rem;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0; 
    top: 0;
    width: 100%; 
    height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    }
.modal-content {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    width: 700px;
}
.close-btn {
    float: right;
    font-size: 2rem;
    cursor: pointer;
}
.avatar-options {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
}
.avatar-option {
    width: 200px;
    height: 200px;
    cursor: pointer;
    transition: transform 0.2s, border 0.2s;
    object-fit: cover;
    border: 2px solid transparent;
}
.avatar-option:hover {
    transform: scale(1.1);
    border: 2px solid #000;
}

/* Вкладка настройки */
#input-name-player, #saved-button{
    display: none;
}